html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  zoom: 95%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: "Poppins", sans-serif;
}
