  @use "./variables.scss" as *;
  .homeContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 1000px;
      width: 100%;
      background-color: $primary-color;
      padding: 20px;

      .text00 {
          font-size: 100px;
          font-weight: 600;
          color: white;
          margin: 10px 0;
      }

      .text01 {
          font-size: 24px;
          font-weight: 600;
          color: white;
          margin: 10px 0;
      }
      .text02 {
          display: flex;
          flex-direction: column; 
          align-items: center;
          justify-content: center; 
          color: white;
          font-size: 20px; 
          font-weight: normal; 
          text-align: center; 

          .text021 {
              font-size: 50px;
              font-weight: bold;
              color: white;
              margin: 10px 0;
              width: 22ch; 
              white-space: nowrap;
              overflow: hidden;
              animation: typing 2s steps(20) 0.5s forwards;
              margin-bottom: 5px;

          }
          
          .text022 {
              font-size: 50px;
              font-weight: bold;
              color: white;
              margin: 10px 0;
              width: 22ch; 
              white-space: nowrap;
              overflow: hidden;
              animation: typing 2s steps(20) 2.2s forwards;
          }
      }
    
      @keyframes typing {
          from {
              width: 0;
          }
          to {
              width: 22ch; 
          }
      }

      .ant-btn1 {
          background: #58CC02;
          margin-top: 15px;
          width: 400px;
          height: 55px;
          border-radius: 18px;
          font-weight: bold;
          margin-bottom: 15px;
          border-bottom: 4px solid #0050C7;
          &:hover {
              background: $hover-color!important;
          }
      }
      .ant-btn2 {

          background: #0064D6;
          width: 400px;
          height: 55px;
          border-radius: 18px;
          font-weight: bold;
          border-bottom: 4px solid #0050C7;
          &:hover {
              background: $hover-color!important;
          }
      }
  }


  .homeTarget {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 300px;
    height: 550px;
    .targetTitle {
      color: rgba(26, 24, 24, 0.789);
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 50px;
    }

    .targetBox {
      background-color: $primary-color;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }

      h3 {
        font-size: 35px;
        font-weight: bold;
        color: white;
      }

      p {
        font-size: 25px;
        color: white;
        margin: 10px 0;
      }

      ul {
        list-style: none;
        padding-left: 0;
      }

      li {
        font-size: 23px;
        color: white;
        margin: 5px 0;
      }
    }
  }
.login-register {
  display: flex;
  flex-direction: column;
}