$primary-color: #1CB0F6; // Xanh nước biển nhạt
$hover-color: #FF9800;// Màu hover đậm hơn một chút
$background-color: #E0F7FA; // Nền tổng thể
$secondary-color: #2c3e50;
$text-color: #333;
$border-radius: 8px;